/**
 * Variables
*/

$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

.alert {
  border: 1px solid $border-dark;
}
$navy: #37455a;
$blue: #abbdd3;
$cyan: #a3d9cb;
$peach: #ff9d7a;
$colors: (
  $navy: #37455a;
  $blue: #abbdd3;
  $cyan: #a3d9cb;
  $peach: #ff9d7a;
)
@mixin bg{
  .bg-#{$color}{
    background: $color;
  }
}

// Text class definition
@mixin text{
  .text-#{$color}{
    color: $color;
  }
}

// Background class generation
@each $color in $colors{
  @include bg($color);
}

// Text class generation
@each $color in $colors{
  @include text($color);
}
$navy: #37455a;
$blue: #abbdd3;
$cyan: #a3d9cb;
$peach: #ff9d7a;

$colors: (
  navy: $navy,
  blue: $blue,
  cyan: $cyan,
  peach: $peach
);

@mixin gen-props($prefix, $property) {
  @each $color-name, $color in $colors {
    .#{$prefix}-#{$color-name} {
      #{$property}: $color
    }
  }
}

@include gen-props('text', 'color');
@include gen-props('bg', 'background');